<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div class="container-fluid">
  <div class="container white-box">
    <div class="row">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-9">
          <h2>Szczegóły pytania </h2>
        </div>
        <div class="col-md-6 col-sm-4- col-xs-3">
          <button class="btn btn-danger btn-sm pull-right" type="button" (click)="deleteQuestion(question._id)" style="margin-left:15px;">Usuń</button>
          <a [routerLink]="['/question-edit', question._id]" class="btn btn-success btn-sm pull-right" >Edytuj</a>
        </div>
      </div>
    </div>

    <div class="row" id="question-details">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>{{ question.content }}</h3>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 single-answer">
            <p class="single-answer-label">A)</p>
            <div class="single-answer-content">
              {{ question.a }}
            </div>
            <div class="single-answer-result">
              <span class='{{ question.t == "A" ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="col-md-12 single-answer">
            <p class="single-answer-label">B)</p>
            <div class="single-answer-content">
              {{ question.b }}
            </div>
            <div class="single-answer-result">
              <span class='{{ question.t == "B" ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 single-answer">
            <p class="single-answer-label">C)</p>
            <div class="single-answer-content">
              {{ question.c }}
            </div>
            <div class="single-answer-result">
              <span class='{{ question.t == "C" ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 single-answer">
            <p class="single-answer-label">D)</p>
            <div class="single-answer-content">
              {{ question.d }}
            </div>
            <div class="single-answer-result">
              <span class='{{ question.t == "D" ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
