<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container white-box">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ question.content }}</h3>
      </div>
      <div class="col-md-12">
        A) {{ question.a }}
      </div>
      <div class="col-md-12">
        B) {{ question.b }}
      </div>
      <div class="col-md-12">
        C) {{ question.c }}
      </div>
      <div class="col-md-12">
        D) {{ question.d }}
      </div>
      {{ question.t }}
    </div>
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/question-edit', question._id]" class="btn btn-success">EDIT</a>
        <button class="btn btn-danger" type="button" (click)="deleteQuestion(question._id)">DELETE</button>
      </div>
    </div>
  </div>
</div>
