<div class="container-fluid">
  <div class="row" id="menu">
    <div class="container">
      <ul>
        <li class="menu-item"><a [routerLink]="['/questions']">Pytania</a></li>
        <li class="menu-item"><a [routerLink]="['/games']">Gry</a></li>
        <li class="menu-item">O grze</li>
      </ul>
    </div>
  </div>
  <div class="container white-box">
    <div class="row">
      <h1>Book List
        <a [routerLink]="['/question-create']" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </h1>
    </div>
    <div id="list">
      <div *ngFor="let game of games" class="row list-item">
        <div class="col-10 list-item-info">
          {{ game._id }}
        </div>
        <div class="col-2 list-item-btn">
          <a [routerLink]="['/game-details', game._id]">
            <div class="btn btn-success btn-sm">Show Detail
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
