<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container white-box">
    <div class="row" id="list">
      <div class="col">
        <div class="row">
          <h2>Lista pytań </h2>
          <a [routerLink]="['/question-create']">
            <div class="btn btn-success btn-sm pull-right">Dodaj</div>
          </a>
        </div>
        <div *ngFor="let question of questions" class="row list-item">
          <div class="col-10 list-item-info">
            {{ question.content }}
          </div>
          <div class="col-2 list-item-btn">
            <a [routerLink]="['/question-details', question._id]">
              <div class="btn btn-success btn-sm">Szczegóły</div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
