/* You can add global styles to this file, and also import other style files */

body {
  background: #e6e6e6;
}

.container-fluid {
  padding: 0px;
}

h2 {
  margin-top: 5px;
}

.white-box {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 30px;
  background: #fff;
}

#list {
  margin-top: 10px;
}

.list-item {
  padding: 10px;
  border: 1px solid #a0a9a0;
  margin-bottom: 5px;
  background: #f3f3f3;

}

.list-item-info {
  font-size: 18px;
}

.list-item-btn {
  text-align: right;
}

.active {
  color: #fff !important;
}

.single-answer {
  padding: 7px;
  font-size: 18px;
  border: 1px solid #e6e6e6;
}

.single-answer-label {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.single-answer-result {
  text-align: center;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.result-row {
  padding: 15px 0px;
  border-top: 1px solid silver;
}

.player-avatar {
  width: 100px;
  height: 100px;
}

#game-details {
  margin-top: 25px;
  font-size: 16px;
}

.player-points {
  margin-top: 10px;
  font-size: 20px;
}

.player-time {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.player-result {
  margin: 10px;
  font-size: 20px;
}

.player-draw {
  color: #ffc107 !important;
}

.player-win {
  color: #28a745 !important;
}

.player-lose {
  color: #dc3545 !important;
}

.game-status {
  padding-top: 30px;
}

@media screen and (max-width: 991px) {

}
