/* You can add global styles to this file, and also import other style files */

body {
  background:#e6e6e6;
}

.container-fluid {
  padding:0px;
}

.nav-item {
  padding:0px 30px;
  font-weight:bold;
}

.nav-item a {
  border-top:2px solid transparent;
}

.nav-item a:hover {
  border-top:2px solid #fff;
  color: #fff;
}

.white-box {
  margin-top:30px;
  padding:30px;
  background:#fff;
}

#list {
  margin-top:10px;
}

.list-item {
  padding: 10px;
  border: 1px solid green;
  margin-bottom: 5px;
  background: #f1f1f1;
  border-radius: 5px;

}

.list-item-info {
  font-size:18px;
}

.list-item-btn {
  text-align:right;
}

.active {
  border-top:2px solid #fff !important;
}

@media screen and (max-width: 991px) {
  .nav-item  {
    padding:0px;
  }

  .nav-item a {
    border-top:none;
  }

  .nav-item a:hover {
    border-top:none;
  }
}
