<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div class="container-fluid">
  <div class="container white-box">
    <div class="row">
      <h2>Szczegóły gry</h2>KURWA
    </div>

    <div class="row" id="game-details">
      <div class="col-md-3 text-center">
        <div *ngFor="let answer of game.player1.answers" class="col-md-12">
          {{ answer.value }}
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div *ngFor="let question of game.questions" class="col-md-12">
          {{ question.content }}
          {{1 }}
        </div>

      </div>
      <div class="col-md-3 text-center">
        <div *ngFor="let answer of game.player2.answers" class="col-md-12">
          {{ answer.value }}
        </div>
      </div>
    </div>
  </div>
</div>
