<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div class="container-fluid">
  <div class="container white-box">
    <div class="row">
      <h2>Szczegóły gry</h2>
    </div>

    <div class="row" id="game-details">
      <div class="col-md-12">

        <div class="col-md-3 text-center">
          <div class="col-md-12">
            <img src="{{ game.player1.avatar }}" class="img-circle player-avatar" alt="avatar">
          </div>
          <div class="col-md-12 player-points">
            <b>Punkty: </b> {{ game.player1.points }}
          </div>
          <div class="col-md-12 player-result" [ngSwitch]="result">

            <div class="col-md-12 player-draw" *ngSwitchCase="0">
              <span class="glyphicon glyphicon-minus"></span>
              REMIS
            </div>
            <div class="col-md-12 player-lose" *ngSwitchCase="2">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              PRZEGRANA
            </div>
            <div class="col-md-12 player-win" *ngSwitchCase="1">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              WYGRANA
            </div>

          </div>
          <div class="col-md-12 player-time">
            <b>Czas: </b> {{ game.player1.time }}
            <span
              class='{{ game.player1.time > 0 ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
          </div>
        </div>

        <div class="col-md-6 text-center game-status">
          <div class="col-md-12">
            <b>ID:</b> {{ game._id }}
          </div>
          <div class="col-md-12">
            <b>Data:</b> {{ game.created_date| date: 'hh:mm dd.MM.yyyy'}}
          </div>
          <div class="col-md-12">
            <b>Status:</b> {{ game.status == 0 ? "Niezakonczona" : "Zakonczona" }}
          </div>
          <div class="col-md-12">
            <b>Ukonczonych gier:</b> {{ game.ends }}
          </div>
        </div>

        <div class="col-md-3 text-center">
          <div class="col-md-12">
            <img src="{{ game.player2.avatar }}" class="img-circle player-avatar" alt="avatar">
          </div>
          <div class="col-md-12 player-points">
            <b>Punkty: </b> {{ game.player2.points }}
          </div>
          <div class="col-md-12 player-result" [ngSwitch]="result">

            <div class="col-md-12 player-draw" *ngSwitchCase="0">
              <span class="glyphicon glyphicon-minus"></span>
              REMIS
            </div>
            <div class="col-md-12 player-lose" *ngSwitchCase="1">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              PRZEGRANA
            </div>
            <div class="col-md-12 player-win" *ngSwitchCase="2">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              WYGRANA
            </div>

          </div>
          <div class="col-md-12 player-time">
            <b>Czas: </b> {{ game.player2.time }}
            <span
              class='{{ game.player2.time > 0 ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
          </div>
        </div>

      </div>


      <div *ngFor="let row of tableData" class="col-md-12 result-row">
        <div class="col-md-3 text-center">
          <div class="col-md-12">
            <b>{{ row.player1.answer_char }})</b> {{ row.player1.answer_content }}
          </div>
          <div class="col-md-12">
            <span
              class='{{ row.player1.correct ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="col-md-12">
            {{ row.question }}
          </div>
          <div class="col-md-12">
            <b>{{ row.answer_char }})</b>
            {{ row.answer_content }}
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12">
            <b>{{ row.player2.answer_char }})</b> {{ row.player2.answer_content }}
          </div>
          <div class="col-md-12">
            <span
              class='{{ row.player2.correct ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove"}}'></span>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
