<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hybrid Quiz Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/questions']">Pytania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/games']">Gry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">O grze</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div class="container-fluid">
  <div class="container white-box">
    <div class="row">
      <h2>Szczegóły gry</h2>
    </div>

    <div class="row">
      {{ game|json }}
    </div>

    <div class="row" id="game-details">
      <div class="row">

        <div class="col-md-3 text-center">
          <div class="col-md-12">
            {{ game.player1.avatar }}
          </div>
          <div class="col-md-12">
            {{ game.player1.time }}
          </div>
          <div class="col-md-12">
            {{ game.player1.points }}
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="col-md-12">
            {{ game._id }}
          </div>
          <div class="col-md-12">
            {{ game.ends }} {{ game.status }}
          </div>
        </div>

        <div class="col-md-3 text-center">
          <div class="col-md-12">
            {{ game.player2.avatar }}
          </div>
          <div class="col-md-12">
            {{ game.player2.time }}
          </div>
          <div class="col-md-12">
            {{ game.player2.points }}
          </div>
        </div>

      </div>


      <div *ngFor="let row of tableData" class="col-md-12 result-row">
        <div class="col-md-3 text-center">
          <div class="col-md-12">
            {{ row.player1.answer_char }}
          </div>
          <div class="col-md-12">
            {{ row.player1.answer_content }}
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="col-md-12">
            {{ row.question }}: {{ row.answer_char }}
          </div>
          <div class="col-md-12">
            {{ row.answer_content }}
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12">
            {{ row.player2.answer_char }}
          </div>
          <div class="col-md-12">
            {{ row.player2.answer_content }}
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
